    p {
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
    }


    [class="video-title"] {
        font-size: 10px;
        font-weight: bold;
        width: 160px;
        line-height: 12px;
        margin-bottom: 5px;
    }

    [class="video-stats"] {
        font-size: 7px;
        color: rgb(96, 96, 96);
        margin-bottom: 10px;
    }

    [class="channel-name"] {
        font-size: 7px;
        margin-top: 0;
        margin-bottom: 18px;
        color: rgb(96, 96, 96);
        margin-bottom: 10px;
    }

    [class="video-description"] {
        font-size: 7.5px;
        color: rgb(96, 96, 96);
        width: 145px;
        line-height: 10px;
    }

    [class="apple"] {
        font-size: 7px;
        text-align: center;
        margin-top: 80px;
        background-color: rgb(227, 65, 64);
        color: white;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    [class="shopping"] {
        cursor: pointer;
    }

    [class="shopping"]:hover {
        text-decoration: underline;
    }